<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
    <div class="box">
      <% for(let i = 0 ; i<newListItems.length ; i++){%>

      <div class="item">
        <input type="checkbox">
        <p><%=newListItems[i]%></p>

      </div>
        <%   } %>
          <form class="" action="/" method="post">
            <label for=""></label>
            <input type="text" name="newItem" placeholder="New Item" id="" />
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
          </form>
    </div>
 

 
  </body>
</html>
